/*      productg page css starats */

#wal-main-container {
  /* display: grid; */
  /* grid-template-rows: repeat(2,1fr); */
  flex-direction: column;
  /* border: solid 1px red; */
}
#upper{
  /* border: solid 1px teal; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 100%;
  /* margin: auto; */
}
.cat{
  width: 100px;
  text-align: center;
  margin: auto;
  padding: 35px;
  border-radius: 20px;
  cursor: pointer;
}
.cat p {
  color: #212121;
  font-size: 18px;
}

.cat img {
  width: 100%;
}

.cat:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#data{
  display: flex;
  gap: 10px;
  margin: auto;

}
#side-bar-filter{
  /* border: 1px solid blue; */
  /* display: column; */
  width: 20%;
  /* margin: auto; */
  
}

#products {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  width: 70%;
  /* margin: auto; */
  height: 800px;
  margin: auto;
}

#g-products-top{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}

.g-products-child{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 100%;
 border-radius: 20px 20px 20px 20px ;
 
}

/* .g-products-child img{
  width: 100%;
} */
#top-image {
  width: 100%;
  border-radius: 20px 20px 0px 0px ;
}

#finds{
  font-family: Bogle,Helvetica Neue,Helvetica,Arial,sans-serif;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.g-title{
  font-size: 18px;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-left: 20px;
  
}

.g-top-div-p{
   margin-left: 20px;
    
  }

  .g-button-div{
    width: 30%;
    border-radius: 20px;
    margin-bottom: 16px; 
     margin-top: 16px; 
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-color: #000;
    background-color: #fff;
    color: #000;
    border-style: solid;
    border-width: 1px;
    outline: 0;
    font-family: Bogle,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-left: 20px;
    cursor: pointer;

  }

.g-shop-button{
    border-radius: 20px;
    font-size: 14px;
    
}
.g-shop-button:hover{
     background-color: black;
    
}

#wal-filters-div{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 40px;
}
.wal-filters-child {
  border: solid 1px black;
  text-align: center;
  cursor: pointer;
}

#g-img-main-div{
  display: flex;
}
#g-img{
  width: 100%;
}


#g-heart-image{
  width: 100%;
}

#lower{
 display: grid;
 grid-template-columns: repeat(6,1fr);
 gap: 20px;
}

#g-products_tab{
  z-index: 1;
   cursor: pointer;
   font-family: Bogle,Helvetica Neue,Helvetica,Arial,sans-serif;
   color: #46474a;

}
#wish-button-div{
  width: 100px;
  
}
#g-cart-button{
  appearance: auto;
  writing-mode: horizontal-tb !important;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
  font-weight: 700;
  align-items: center;
  border-style: none;
  border-width: 0;
    box-shadow: 0 1px 2px 1px #00000026;
    font-size: 1rem;
    height: 2.5rem;
    background: #0071dc;
    color: #fff;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
}

#g-heart-image{
  width: 150%;
  cursor: pointer;

}

#g-price-div{
  font-weight: 700;
}

























/* desktop screen */
/* @media only screen and (min-width: 721px) and (max-width: 1440px) {
  #lower {
    grid-template-columns: repeat(4, 1fr);
  }

} */

/* medium screen */
/* @media only screen and (min-width: 421px) and (max-width: 720px) {
  #lower {
    grid-template-columns: repeat(2, 1fr);
  }

} */


/* small screens */
/* @media only screen and (min-width: 0px) and (max-width: 420px) {
  #lower {
    grid-template-columns: repeat(1, 1fr);
  }

} */